<!-- Page Header -->
<!-- Set your background image for this header in your post front-matter: cover -->
<%
    var cover = theme.index_cover_about || theme.index_cover;
    item.title = 'О нас';
%>
<header class="intro-header" style="background-image: url('<%- cover %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1><%- item.title || config.title || "Untitled" %></h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

            <!-- Gallery -->
            <div>
                <% if (item.photos && item.photos.length){ %>
                    <%- partial('gallery') %>
                <% } %>
            </div>

            <!-- Post Main Content -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <%- item.content %>
            </div>
            
        </div>
    </div>
</article>