<!-- Post Content -->
<section>
    <div class="container">
        <div class="row">

            <!-- Post Main Content -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div>
                    <%- item.content %>
                </div>
                <div class="">
                    <img src="<%- item.photos[0] %>" class="img-thumbnail img-responsive" />
                </div>
            </div>
            
        </div>
    </div>
</section>